.simple-button {
  color: #676A6D;
  border: 1px solid #676A6D;
  font-size: 15px;
  padding: 5px 12px;
  font-weight: normal;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
}
.dot-border {
  border: 1px dotted #676A6D;
}
.simple-button:hover, .simple-button:active {
  color:#fff;
  background:#2B333E;
}
.is-invalid {
  border: 1px solid red;
}